<!-- base.html -->
{% load static-files %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% block title %} {% endblock title %}</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="{% static "SemanticUI/semantic.css" %}" rel="stylesheet">
<script type="text/javascript" src="SemanticUI/semantic.js"></script>
</head>
<body>
	<div class="ui inverted segment">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>
    {% include 'header.html' %}
    {% block headmessage %} {% endblock %}
    <hr class="ui line">
    {% block content %}	{% endblock content %}
    <hr class="ui line">
    {% include 'footer.html' %}
</body>
</html>