<!--header.html-->
{% load staticfiles %}
<!DOCTYPE html>
<div class="ui borderless fixed blue inverted pointing menu">
	<div class="ui container">
		<div class="item">
			<img src="{% static "images/logo.png" %}">
		</div>
		<a class="header active item" href="#">首页</a>
		<a class="item" href="#">新闻专题</a>
		<a class="item" href="#">python3-Django</a>
		<a class="item" href="#">PHP-Laravel</a>
		<a class="item" href="#">关于我</a>
	</div>
</div>
<div class="ui grid container">
	<div class="row" id="page-header">
		<div class="ui basic segment">
			<h1 class="ui sub header">
			Warlock921 Blog
			</h1>
			<span> 1981-Tech python3-Django</span>
		</div>
	</div>
</div>