<!--header.html-->
{% load staticfiles %}
<!DOCTYPE html>
<div class="ui sizer vertical segment">
		<h1 class="ui header inverted segment">欢迎光临 1981-Tech-Blog </h1>
</div>
<div class="ui top inverted menu">
	<div class="item">
		<img src="{% static "images/logo.png" %}">
	</div>
	<a class="item">Features</a>
	<a class="item">Testimonials</a>
	<a class="item">Sign-in</a>
	<div class="right menu">
		<div class="item">
			<div class="ui icon input">
				<input type="text" placeholder="Search...">
				<i class="search link icon"></i>
			</div>
		</div>
		<a class="ui item ">登录</a>
		<a class="ui item ">注册</a>
	</div>
</div>