<!-- post.html -->
{% extends "HTML/base.html" %}
{% block title %} INT81全栈方程式 {% endblock title %}
{% block headmessage %}
{% endblock headmessage %}
{% block content %}
<div class="ui grid container">
	<div class="row" id="article">
		<div class="eleven wide column">
			
				<div class="ui piled segment">
					<div>
						<p>
							<h1 class="ui large header">
							{{ post.title }}
							</h1>
							<h5>
							发布时间：{{post.pub_date | date:"Y年m月d日, h:m:s"}}
							</h5>
						</p>
					</div>
					
					<div class="ui olive secondary segment ">
						<p>
							{{post.body}}
						</p>
						<p>
							<h5>
							作者：{{post.auth}}
							</h5>
						</p>
					</div>
					<div>
						<a class="positive ui button" href="/">返回首页</a>
					</div>
				</div>

		</div>
		
		<div class="four wide right floated column">
			<div class="ui secondary segment">
				<h4 class="ui header">
				About
				</h4>
				<p>
					Etiam porta <i>sem malesuada magna mollis euismod</i>. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
				</p>
			</div>
			<h4 class="ui header">
			Archives
			</h4>
			<div class="ui list">
				<a class="item">Septempber 2017</a><a class="item">August 2017</a><a class="item">June 2017</a><a class="item">April 2017</a><a class="item">March 2017</a><a class="item">February 2017</a><a class="item">January 2017</a><a class="item">December 2016</a><a class="item">October 2016</a><a class="item">July 2016</a><a class="item">July 2016</a><a class="item">May 2016</a><a class="item">April 2016</a><a class="item">January 2016</a><a class="item">May 2015</a>
			</div>
		</div>
	</div>
</div>
	

	<!--<h1>{{post.title}}</h1>
	<hr>
		<p style="font-size: 12pt;letter-spacing: 2pt">{{post.body}}</p>
	</hr>
	<h3><a href="/">返回首页</a></h3>-->

{% endblock content%}
